body {
    background-image: url("../images/background.jpg");
}

.game-title {
    background: rgb(255, 208, 0);
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    padding: 8px;
    padding-right: 18px;
    text-align: right;
}