body {
    background-image: url("../images/background.jpg");
}

#game-title {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h5 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: white;
}

#attack {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#restart {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#character_choices {
    color: white;
}